@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* COMMON CSS START FROM HERE */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    display: inline-block;
    color: black;
}

ol,
ul {
    list-style-type: none;
}

header,
section {
    padding: 0px 5%;
}

.paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: var(--text-color);
    display: inline-block;
}

.button {
    padding: 10px 20px;
    background: var(--btnColor);
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 1rem;
    margin: 1rem 0rem;
    text-transform: uppercase;
    color: white;
}

.button img {
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
}

.section-title {
    width: 100%;
    padding: 10px 0px;
}

.section-title h2 {
    font-family: Bebas Neue;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: var(--text-color);
}
.nav-bar{
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    cursor: pointer;
    display: none;
}
.nav-bar .nav-stick{
    width: 100%;
    height: 4px;
    background: black;
    margin: 2px 0px;
}
:root {
    --text-color: #3C3C3C;
    --bgColor: #FFFBF0;
    --btnColor: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
    ;
}

/* COMMON CSS END HERE  */
/* HEADER SECTION START FROM HERE */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

#header .logo img {
    width: 225px;
}

#header .main-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header .main-menu ul li {
    padding: 10px 20px;
}

#header .main-menu ul li a {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--text-color);
}
.active{
    display: flex !important;
}
.color .nav-stick{
    background: var(--btnColor);
}
.overflowY{
    overflow-y: hidden !important;
}
/* HEADER SECTION END HERE */
/* HERO SECTION START FROM HERE */
#hero-section {
    padding: 40px 5%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 10px;
    align-items: center;
    justify-items: center;
    background: var(--bgColor);
}
#hero-section .hero-infromation .headline {
    font-family: 'Bebas Neue', cursive;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: #FABE4C;
}

#hero-section .hero-infromation .headline span {
    color: var(--text-color);
}

#hero-section .hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-section .hero-image img {
    width: 100%;
}

/* HERO SECTION END HERE */
/* PRODUCT SECTION START FROM HERE */
#product-women,
#product-man {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.card-container .card {
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.card-container .card .card-image {
    padding: 30px;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container .card .card-image img {
    width: 90%;
}

.card-container .card .card-title {
    font-weight: 700;
    margin: 10px 0px;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 28px;
}

.card-container .card .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-container .card .price span {
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: #FABE4C;
}

/* PRODUCT SECTION END HERE */
/* SERVICE SECTION START FROM HERE */
#service-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 50px 5%;
}

#service-section .service-left .service-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    margin: 10px 0px;
    padding: 10px;
}

#service-section .service-left .service-card .service-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: capitalize;
}
#service-section .service-left .service-card .service-image{
    margin-right: 10px;
}
#service-section .service-left .service-card .service-image img {
    width: 78px;
}

#service-section .service-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

#service-section .service-right img {
    width: 100%;
}

/* SERVICE SECTION END HERE */